In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
gender = ['Male', 'Female']
income = ['Poor', 'Middle Class', 'Rich']

In [4]:
n = 500
gender_data = []
income_data = []

In [5]:
for i in range(0,n):
    gender_data.append(np.random.choice(gender))
    income_data.append(np.random.choice(income))

In [7]:
Height = 160 + 15 * np.random.randn(n)
Weight = 60 + 10 * np.random.randn(n)
Age = 25 + 10 * np.random.randn(n)
Income = 1,8 + 500000 * np.random.randn(n)

In [8]:
data = pd.DataFrame({
    'Gender': gender_data,
    'Economic status': income_data,
    'Height': Height,
    'Weight': Weight,
    'Age': Age,
    'Income': Income
})

In [9]:
data.head()

   Gender Economic status      Height     Weight        Age        Income
0    Male    Middle Class  189.277662  79.082478  31.606449  1.832966e+06
1    Male    Middle Class  172.227570  42.340102  16.767941  1.954985e+06
2    Male            Rich  128.230650  47.193744  35.290930  1.624805e+06
3  Female            Rich  156.220358  76.441305  29.247209  1.440370e+06
4  Female            Poor  157.455887  55.746975  18.524047  1.470697e+06